input#command-input {
  color: lightgreen;
  background: rgb(0, 10, 0);
  border-color: rgb(0, 10, 0);
}

span#path {
  padding: 0px;
  color: lightgreen;
  background: rgb(0, 10, 0);
  border-color: rgb(0, 10, 0);
}
