button.btn.btn-primary.login-btn {
    background-color: rgb(0, 10, 0);
    color: lightgreen;
    border-color: lightgreen;
}

button.btn.btn-primary.login-btn:active {
    color: rgb(0, 10, 0);
    background-color: lightgreen;
    border-color: lightgreen;
}

form.loginForm input {
    color: lightgreen;
    background: rgb(0, 10, 0);
    border-color: lightgreen;
}


form.loginForm input:focus {
    background-color: rgb(0, 10, 0);
    color: lightgreen;
    border-color: lightgreen;
}
